.installButton {
  border-color: var(--secondary-color);
  border-width: 1px;
  border-style: solid;
  width: 100%;
  border-radius: var(--fullround);
  padding: var(--global-padding);
}

.loaderContainer {
  border-color: var(--secondary-color);
  border-width: 1px;
  border-style: solid;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--fullround);
}

.lucideLoader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
